<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Welcome to EllieGrid! Set up your pill box and we will provide you with daily reminders. 
    </p>
  </body>
</html>
