// Place all the styles related to the Pills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
	height:10vh;
}

.body{
	min-height: 80vh;
}

.footer{
	height: 10vh;
}
.pillbox{
	margin:10%;

}
.pill{
	border: 6px solid #a7ffeb;
	background-color: teal;
	height: 140px;
	color: navy;
	text-align: center;
}
.pill > *{
	color: white;
	text-align: center;
}

.row1{

}

.topLeft{
	border-radius: 50px 0 0 0;
}
.topRight{
	border-radius: 0 50px 0 0;
}
.bottomLeft{
	border-radius: 0 0 0 50px;

}
.bottomRight{
	border-radius: 0 0 50px 0;
}
.row2{
	margin-top: -25px;
}

.row1vertical{

}
.row2vertical{

}
