<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <h1>Ellie Grid</h1>
			<%if @current_user%>
			<li><%= link_to "Sign Out", sign_out_path %></li>
			<%else%>
				<li><%= link_to "Sign In", sign_in_path %></li>
				<li><%= link_to "Sign Up", new_user_path %></li>
			<%end%>

    </div>
  </div>
</nav>